@page "/Contact"

<div class="contact">

    <h3>კონტაქტი</h3>


    <div class="row">
        <div class="col-md-4 col-sm-12 adress contact-info">
            <MudIcon Icon="fas fa-map-marker-alt" Class="adress-icon contact-icon"></MudIcon>
            <p>ესტუმრეთ ჩვენს ფილიალს:</p>
            <h6>ქ.თბილისი, სატესტო ქუჩა N57</h6>
        </div>
        <div class="col-md-4 col-sm-12 mobile-number contact-info">
            <MudIcon Icon="fas fa-mobile-alt" Class="mobile-icon contact-icon"></MudIcon>
            <p>დაუკავშირდეთ ქოლ ცენტრს:</p>

            <h6>+995 557 56 54 53</h6>
        </div>
        <div class="col-md-4 col-sm-12 mail contact-info">
            <MudIcon Icon="fas fa-envelope-open-text" Class="mail-icon contact-icon"></MudIcon>
            <p>მოგვწერეთ მეილი:</p>

            <h6>Mariam.nakopia5@gmail.com</h6>
        </div>

    </div>

</div>